<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tryhard.mvp.app" >

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_logo_v2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        <activity
            android:name="com.tryhard.mvp.app.HomeActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".route.BusStopActivity"
            android:label="@string/title_activity_bus_stop"
            android:parentActivityName=".HomeActivity">
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base_layout">
        </activity>
        <activity
                android:name=".map.MapActivity"
                android:label="@string/title_activity_map"
                android:parentActivityName=".HomeActivity" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
